<% const LINK = "text-indigo-600 dark:text-indigo-500 hover:underline"; %>
<div class="mt-[10px]"></div>
<footer class="w-1/2 m-auto">
  <hr>
  <div class="mt-[10px]"></div>
  <div class="grid grid-cols-3 text-center">
    <div>
      <a class="<%= LINK %>" href="mailto:support@livzmc.net">support@livzmc.net</a>
    </div>
    <div>
      <a class="<%= LINK %>" href="/discord">Discord</a>
      <a class="<%= LINK %>" href="/privacy-policy">Privacy</a>
      <a class="<%= LINK %>" href="https://github.com/LivzMC/website">GitHub</a>
    </div>
    <div class="text-sm flex">
      <p>© 2021 - 2024, Iris</p>
      <p class="ml-[15px]">
        <%= git.branchName %>@<%- git.isDirty ? 'local' : `<a id="github_hash" class="text-indigo-600 dark:text-indigo-500 hover:underline" href="https://github.com/livzmc/website/commits/${git.hash}" target="__">${git.hash.slice(0, 7)}</a>` %>
      </p>
    </div>
  </div>
  <div class="mt-[10px]"></div>
</footer>